[Unit]
Description=LogToApi service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/logtoapi
ExecStart=/home/pi/logtoapi/LogToApi
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target